 
   .product-page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
     
  }
  
  .product-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .product-description {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
  }
  
  .product-rating {
    margin-bottom: 5px;
  }
  
  .product-stock,
  .product-out-of-stock {
    font-weight: bold;
  }
  
  .loader-container {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .not-found-img {
    height: 100%;
  }

  /* Button styles */
.button {
  color: white;
  height: 30px;
  width: 130px;
  background-color: #007bff; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add some margin at the top */
}

/* Style for button positioned at the bottom */
.bottom-button {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%);
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .button {
    width: 100%; /* Make button width full on smaller screens */
  }
}


  
  /* .button {
    color: white;
    height: 30px;
    width: 130px;
    position: absolute;

  } */
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .product-card {
      padding: 10px;
    }
  }
  